a{
	color: lightgray;
	text-decoration: none;
	
}

.reg:hover{
	background-color: lightblue;
}
a:hover{
	border-top: solid;
	border-bottom: solid;
	border-color: rgb(0, 0, 0);
}
.tipoL{
	text-align: center;
	/*align-self: center;*/
	font-size:20px	;
	color: lightgray;
	font-family: Montserrat,'Trebuchet MS', Helvetica, sans-serif;
	


}

.tipo2{
	font-size:17px	;
	color: lightgray;
	font-family: roboto;
}
.acomodo{
	background-color: #3f2d3b;
	border: none;
}
.tipoL:hover{
	color:  white;
	}
.ofer:hover{
	background-color: white;
}
.inicio{
	width: 20pt;
}
#reg{
	
	 border:0;
	 background:  none;
	display: block;
	
	text-align: center;
	border: 2px solid #2ecc71;
	
	outline: none;
	color:white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	
}
#reg :hover{
	background-color: #2ecc71;
	color: green;
}

.next_carrucel:hover
{
	box-shadow: 10px 10px 10px black;
}
.footer
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	color:white;
	background-color: #490419;
}
.redes
{
	list-style:none;
}
.mapa
{
	margin: 2%;
	border-radius: 2%;
	width: 80%;
	height: 200px;
}
.nombre
{
	background-color: #3F2D3B; 
	color:white;
}